.card{
	font-size:           1em;
	width:               200px;
	padding:             100px 20px;
	max-height:          220px;
	text-align:          center;
	background-color:    #FCFAE6;
	box-shadow:          3px 3px 3px 1px Gainsboro;
	margin-top:          10%;
}

.card-container{
	margin-top:          10%;
	width:               240px;
	height:              270px;
	font-size:           1.5em;
	background-image:    url('/images/cardStack.png');
	background-repeat:   no-repeat;
	background-position: 50% 70%;
	position:            relative;
}

.farsi{
	direction:           rtl;
}

/*http://simonlockyer.info/flip-div-css3-tutorial/ */
.panel {
    width: 200px;
    height: 220px; 
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
    position: absolute;
    top: -10px;
    z-index: 1;
    width: inherit;
    height: inherit;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .front {
    z-index: 1;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.panel .back {
    position: absolute;
    top: 0;
    z-index: 0;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
 
    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .back {
    z-index: 2;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

/*#flippy_card{
	position:            absolute;
	z-index:             1;
}*/




#new_card{
	font-size:           1.5em;
	display:             none;
	position:            relative;
	margin-top:          0px;
	z-index:             0;
}

#next_card{
	position:            absolute;
	top:                 0;
	left:                15px;
	z-index:             0;
}

button{
	position:            absolute;
	z-index:             2;
}

#next{
	top:                 255px;
	left:                120px;
}

#last{
	top:                 255px;
	left:                80px;
}

